.myNavbar2{ 
	margin-bottom: 0px;
	position: absolute;
	width: 100%;
	z-index: -1;
	background: transparent;
    height: 100%;
}




#hamburguer {
position: absolute;
display: none;
top: 10000px;
left:10000px;    
}



label.hamburguerBtn {
    width: 55px;
    height: 55px;  
    /*background-color:#fff;*/
    background-image: url(../img/boton-de-menu.svg);
    background-size: 50%;    
    background-repeat: no-repeat; 
    background-position: center;  
    border-radius: 180px;    
    display: none;
    position:fixed;
    /*top: 10px;*/
    right:10px;  
    z-index: 99999;    
    transition: all 0.4s;  
    
}

.navmain {
    top: 0;
    left: 0;
    height: 100%;    
    text-align: center;    
    z-index: 999;
    transition: all 0.4s;   
    position: fixed;
}



/* PEQUEÑO  */ 
@media (min-width:0px) and (max-width:991px){

    label.hamburguerBtn {
    display: block; 
    transform:translate3d(0,0,0); 

    }

    .hamburguerBtn div  { 
        font-family: helvetica;
        font-size: 16px;
        position: absolute;
        top:24px;
        left:70px;
        color:#fff;
    } 
    
    .headerGrande {
        width: 100%;
        height: 0;
    }

    .navmain {
        transform:translate3d(0,-100%,0);
        width: 100%;
        background: rgba(150, 165, 146, 0.9);
        
    }  
    
    .navmain ul {
      
        list-style: none;
        top: 30%;
        position:absolute;
        padding: 0;
        left: 0;
        right: 0;
        
    }

    .navmain ul li {
        display: block;
        
    }

    .navmain ul li a {
        color: #ffffff;
        text-decoration: none;
        height: 60px;
        line-height: 64px;   
        font-size: 18px;
        transition: all 0.6s; 
        width: 100%;
        position: relative;
        
    }
    
    
    .navmain ul li a:before {
      content:'';
      position:absolute;
      bottom: -3px;
      left:0;
      height:4px;
      width:0;
      background: #ffffff;
      transition:0.2s ease all;
    }

    .navmain ul li a:hover:before,
    .navmain ul li a:focus:before {
      width:100%;
      transition:0.2s ease all;

    }
    
    
    
    

    .navmain div li:first-child   {
        padding: 60px 0 0 0;
    } 

    #hamburguer:checked ~ .navmain {
    transform:translate3d(0,0,0); 

    }   
    
    #hamburguer:checked ~ label.hamburguerBtn  {
        background-image: url(../img/boton-cerrar.svg);
    }    

    /*.hamburguerBtn 
     transform:translate3d(-100,0,0); */  

    /*#hamburguer:checked ~ .hamburguerBtn {
    transform:translate3d(0,0,0); 

    }    */ 
    

   

    .anchoHeader {
        height: 100%;
    }

    .logoHamburguesaDes img {
        top: 10%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logoHamburguesa {
        position: fixed;
        z-index: 9;
        line-height: 64px;
        left: 10px;
    }
    
    .listaRedesHamburguer {
        top: 70%;
        left: 0;
        right: 0;
        position: absolute;
    }
    
    .listaRedesHamburguer a img{
        width: 40px;
        margin: 5px;
    }
    
    .listaRedesHamburguer a:hover{
        text-decoration: none;
    }
    
}
    

    
/* GRANDE  */ 
@media (min-width:992px) {

    .navmain {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;    
        text-align: center; 
        height: 64px;
    }
    
    .fix-search {
        background: rgba(150, 165, 146, 0.9);
        transition: 1s;
        opacity: 0.8;
        height: 64px;
    }
    
    .headerGrande {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .navmain a {
        padding: 0;
        
    }

    .navmain ul {
      
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
        float: right;
        margin-right: 8.33333333%;
    }

    .navmain ul li {
        display: inline;
        margin-left: 35px;
    }

    .navmain ul li a {
        color: #ffffff;
        text-decoration: none;
        line-height: 64px;   
        transition: all 0.6s; 
        position: relative;
    }
    
    .navmain ul li a:before {
      content:'';
      position:absolute;
      bottom: -3px;
      left:0;
      height:2px;
      width:0;
      background: #ffffff;
      transition:0.2s ease all;
    }

    .navmain ul li a:hover:before,
    .navmain ul li a:focus:before {
      width:100%;
      transition:0.2s ease all;

    }
    
    
    .logoHamburguesa {
        display: none;
    }
    
    .logoHamburguesaDes {
        margin-left: 8.33333333%;
        line-height: 64px; 
        height: auto;
        float: left;
    }
    
    .listaRedesHamburguer{
        display: none;
    }
}
 