html body {
	width: 100%;
    height: 100%;
	position: absolute;
	
}

body{
	font-family: Overpass-Regular;
}

header{
	width: 100%;
	height: 100%;
	position: relative!important;
}


/****************************** Estilos Genericos *****************************/

@font-face {

	font-family: Overpass-Regular;

	src: url(../fonts/Overpass/Overpass-Regular.ttf) format('truetype');

}

@font-face {

	font-family: Overpass-Black;

	src: url(../fonts/Overpass/Overpass-Black.ttf) format('truetype');

}

@font-face {

	font-family: Overpass-ExtraBold;

	src: url(../fonts/Overpass/Overpass-ExtraBold.ttf) format('truetype');

}


.myContainderFluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 100%;
	height: 100%;
}

.imgCarrusel{
	overflow:hidden;

	height: 100%;
	margin-bottom: 0px;
		
}

.colSinPadding {
	padding-left: 0;
	padding-right: 0;
}

.width100 {
	width: 100% !important;
}

/****************************** Estilos menu *****************************/

header {
  position: relative;
  /*padding-bottom: 400px;*/
  background-color: transparent;
}

.nav-scroll {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 0px 0px;
}

.myNavbar{ 
	margin-bottom: 0px;
	position: absolute;
	width: 100%;
	z-index: 999;
	background: transparent;
	/*height: 72px;*/
}


/*.navbar-nav > li > a:hover, .nav > li > a:hover, .nav > li > a:focus {
	background-color: red !important;
}*/

.margenRowMenu {
	margin-left: 0;
	margin-right: 0;
}

.anchoMenu {
	height: 72px;
	/*width: 100%;*/
}

.divPosicionMenu {
	height: 64px;
	position: absolute;
	width: 100%;
	margin-top: -64px;
	z-index: -1;
}

.paddingUlMenu {
	padding-top: 24px;
	height: 100%;
}

/*.paddingUlMenu > ul  > div > li {
	position: absolute;
	right: 0;
}*/

/*.paddingUlMenu > ul > div > li > a{
	color: #ffffff;
}*/

/*#menuHover div li a {
	text-decoration: none;
}

#menuHover div li a {
  text-decoration: none;
  z-index: 1;
}

#menuHover div li a:before {
  content:'';
  position:absolute;
  bottom: -2px;
  left:0;
  height:2px;
  width:0;
  background: #94a98f;
  transition:0.2s ease all;
}


#menuHover div li a:hover:before,
#menuHover div li a:focus:before {
  width:100%;
  transition:0.2s ease all;
}*/

.botonMenuPe{
	margin-right: 0;
	margin-top: 16px;
}









.ulMenu {
	float: right;
	height: 100% !important;
}

.ulMenu > .active > a{
	background: transparent !important;
}

#menuHover li a {
	text-decoration: none;
	padding: 0;
	margin-left: 35px;
	padding-top: 25px;
	color: #ffffff;
}


#menuHover li a:before {
  content:'';
  position:absolute;
  bottom: -2px;
  left:0;
  height:2px;
  width:0;
  background: #94a98f;
  transition:0.2s ease all;
}

#menuHover li a:hover:before,
#menuHover li a:focus:before {
  width:100%;
  transition:0.2s ease all;
	
}

.navbar-collapse{
	overflow-x: hidden;
}

.navbar-collapse.in {
	overflow-y: hidden;
}

.anchoHeader {
	height: 72px;
}

.myBotonToggle {
	margin-right: 0;
	margin-top: 19px;
	background-color: transparent !important;
	border: 0;
}

.myBotonToggle:hover {
 background-color: transparent !important;
}

@media (max-width: 1100px) {
	
	.menuResponsive li{
		text-align: center;
	}
  	.menuResponsive li a {
		display: inline-block;
		margin-left: 0 !important;
		
	}
}

.tituloImgInicio {

	top: 83%;
	position: relative;
	color: #ffffff !important;
	font-family: Overpass-Black;
	font-size: 25px;
	margin-left: 0;
	text-align: center;


}

.subtituloImgInicio {
	
	top: 83%;
	position: relative;
	color: #ffffff !important;
	font-family: Overpass-Black;
	font-size: 15px;
	margin-top: 0px;
	right: 0;
	text-align: center;
}

.myhAnimated {
	-webkit-animation-duration: 2s !important;
	animation-duration: 2s !important;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*
.tituloImgInicio, .tituloImgInicio2 {
 color: #ffffff ;
 font-family: Overpass-Black;
 width: 209; 
 position:absolute;
 top:45%;
 left:50%;
 margin: 0 0 0 -104px;
 animation: intro1 .7s;   
   
}

.subtituloImgInicio, .subtituloImgInicio2 {
 color: #ffffff ;
 font-family: Overpass-Black;
 width: 442; 
 position:absolute;
 top:55%;
 left:50%;
 margin: 0 0 0 -221px;
 animation: intro2 .7s;   
   
}

@keyframes intro1 {
 
    0% {
    opacity: 0;
    transform:translate3d(-100%, 0 , 0) scale(.9)
    }

}

@keyframes intro2 {
 
    0% {
    opacity: 0;
    transform:translate3d(100%, 0 , 0) scale(.9)
    }

}
*/

/****************************** Estilos galerias *****************************/
/*.sinpadding [class*="col-"]{
	padding: 0;
	
}

.img-album {
	width: 100%;
	
}

.myItem {
	width: 100% !important;
	border: 0 !important;
	height: 100% !important;
}

.info h3 {
	background: none !important;
	margin: 30% 0 0 0 !important;
	font-family: Overpass-ExtraBold !important;
	font-size: 25px !important;
	padding-bottom: 5px !important;
}

.info p {
	color: #ffffff !important;
	font-style: normal !important;
	padding-top: 0 !important;
}

.myItem a:hover {
  opacity: 0.9 !important;
	background: #96a592 !important;
}*/

/*.info {
	opacity: 0.9 !important;
	background: #96a592 !important;
}*/



.item{
    /*background-image: url('../img/Slider/slide1.png');*/
    width:100%;
    height:100%;
    background-repeat:no-repeat;
	background-size: cover;
	
}


.imgSlider1 {
	background-image: url('../img/Slider/foto1.jpg');
    background-position:center center;
}

.imgSlider2 {
	background-image: url('../img/Slider/foto2.jpg');
	background-position:center center;
}

.imgSlider3 {
	background-image: url('../img/Slider/foto3.jpg');
	background-position:center center;
}

.imgSlider4 {
	background-image: url('../img/Slider/foto4.jpg');
	background-position:center center;
}



/****************************** Estilos sobre mi *****************************/

.sobreMi {
	background: url(../img/fondo_sobremi.jpg) no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   /*height: 100%;*/
   width: 100% ;
   text-align: center;
	/*min-height: 100%;*/
}

.imgsobreMi {
	width: 100% !important;
	position: absolute;
	
}

.caja1sobremi{
	position: relative;
	height: 50%;
	text-align: center;
}

.caja1sobremi p{
	font-size: 18px;
}

.caja2sobremi{
	position: relative;
	height: 50%;
	text-align: center;
	padding-top: 50px;
}

.titulosobremi {
	margin-top: 0;
	padding-top: 7%;
	color: #96a592;
	font-family: Overpass-Black;
}

.sobremiTextoDestacado {
	font-family: Overpass-Black;
	color: #96a592;
}

.SubtitulosSobreMi {
	font-family: Overpass-Black;
	padding-top: 7px;
	color: #404a3d;
	font-size: 17px;
}

.posicionImgSobreMi {
	position: absolute;
	width: 25%;
	height: auto;
	bottom: 0;
}

#left0 {
	left: 0;
}

#left25 {
	left: 25%;
}


#left50 {
	left: 50%;
}

#left75 {
	left: 75%;
}

#left0 div, #left25 div, #left50 div, #left75 div {
	width: 100%;
}

.subcajasobremi {
	position: relative;
}

.paddingTop30 {
	padding-top: 30px;
}

.anchocajasobremi {
	/*height: 91px;*/
}

.anchocajasobremi p{
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*position: absolute;*/
}

.anchocajasobremi img {
	bottom: 45px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*position: absolute;*/
}

.textoInfoSobreMi {
	font-size: 13.5px;
}

.margenrow {
	margin-left: 0;
	margin-right: 0;
}

.paddingCaja2SobreMi {
	padding-bottom: 7%;
}

@media (max-width: 320px) {
  .textoSobreMi p {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .textoSobreMi p {
    font-size: 13px;
  }
}

@media screen and (min-width: 376px) and (max-width: 450px) {
  .textoSobreMi p {
    font-size: 14px;
  }
}

@media screen and (min-width: 451px) and (max-width: 550px) {
  .textoSobreMi p {
    font-size: 15px;
  }
}

/****************************** Estilos Contacto *****************************/

/*.tituloContacto {
	text-align: center;
	color: #96a592;
	font-family: Overpass-Black;
}*/

.contenedorContacto {
	/*margin-bottom: 8%;*/
    margin-bottom: 120px;
}

.contenedorContacto1 {
	text-align: center;
}


.textoContacto p{
	padding-top: 25px;
	padding-left: 16%;
	padding-right: 16%;
}

.infoContacto {
	font-size: 18px;
	padding-top: 30px;
	color: #96a592;
}

.tlfnContacto {
	font-size: 18px;
	color: #96a592;
	font-family: Overpass-Black;
}

.labelContacto {
	color: #96a592;
	position: absolute;
	transition: all 0.3s ease;
}

.inputContacto {
	border: 1px solid lightgrey;
	border-left: none;
	border-top: none;
	border-right: none;
	width: 100%;
	resize: none;
	color: #96a592;
	font-family: Overpass-Regular;
}

.inputContacto:focus{
	border: 1px solid lightgrey;
	border-left: none;
	border-top: none;
	border-right: none;
	outline:0px;
}

label {
	width: 100%;
}

.formulariocontacto {
	margin-top: 50px;
}

.formulariocontacto div div label {
	font-weight: normal;
}

.margentexarea {
	margin-top: 40px;
	/*margin-bottom: 60px;*/
}

.botonContacto {
	text-align: center;
    /*position: absolute;*/
    /*margin-left: auto;
    margin-right: auto;*/
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid lightgrey;
	color: #96a592;
	font-family: Overpass-Black;
	padding: 8px 30px 8px 30px;
	display: block;
	
}

.botonContacto:hover {
	background-color: #96a592;
	color: #ffffff;
}

.contenedorBotonContacto {
	height: 38px;
	margin-top: 30px;
}

/****************************** Estilos Footer *****************************/

.myfooter {
	width: 100%;
	height: 70px;
}

.textoFooter {
	color: #96a592;
}


footer div div a  img{
	right: 0;
	
}


.listaRedes {
	text-align: right;
}

.listaRedes a{
	margin-left: 5px;
	text-decoration: none;
}





@media (max-width: 1100px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* Tama単o xs */

@media (max-width: 767px) {
	/* Slider */
	.tituloImgInicio, .subtituloImgInicio{
		top: 75%;
	}

    
    /* Contacto */
    .contenedorContacto {
        margin-bottom: 25px;
    }
    
    .labelContacto{
        text-align: center;
        left: 0;
        right: 0;
    }
    
     .margenEmailXs {
        margin-top: 40px;
    }
    
    /* Footer */
    
    .textoFooter {
        text-align: center;
    }
    
    
    .listaRedes{
        text-align: center;
    }
    
    .listaRedes a img{
        width: 30px;
    }
    
    .myfooter > div {
        display:flex;
        flex-direction: column-reverse;
    }
    
    .divFoo1, .divFoo2 {
        height: auto;
        margin-top: 15px;
    }
    
    
}

/* Tama単o sm */

@media (min-width: 768px) and (max-width: 991px){
    
     /* Contacto */
    .contenedorContacto {
        margin-bottom: 30px;
    }
    
    
	/* Footer */
    
    .textoFooter {
        text-align: center;
    }
    
    .listaRedes{
        text-align: center;
    }
    
    .listaRedes a img{
        width: 25px;
    }
    
    .myfooter > div {
        display:flex;
        flex-direction: column-reverse;
    }
    
    .divFoo1, .divFoo2 {
        height: auto;
        margin-top: 15px;
    }
}


/* Tama単o md */

@media (min-width: 992px) and (max-width: 1199px){
    
    
	/* Footer */
    
    .textoFooter {
        height: 30px;
        margin-bottom: 0;
        padding-top: 6px;
    }

    .listaRedes a img{
        width: 30px;
    } 
   
}

/* Tama単o lg */

@media (min-width: 1200px){
    
    
	/* Footer */
    
    .textoFooter {
        height: 30px;
        margin-bottom: 0;
        padding-top: 8px;
    }

    .listaRedes a img{
        width: 35px;
        
    } 
   
}






/******* Estilos sprite inicio *******/

.sprite-anim-go,.sprite-anim-go-animate {
	-ms-animation:sprite-animate-go 1.7s steps(14)infinite;
	animation:sprite-animate-go 1.7s steps(14)infinite;
	-o-animation:sprite-animate-go 1.7s steps(14)infinite;
	-moz-animation:sprite-animate-go 1.7s steps(14)infinite;
	-webkit-animation:sprite-animate-go 1.7s steps(14)infinite
}

@-webkit-keyframes sprite-animate-go {
	from {
		background-position:0 0
	}
	to {
		background-position:-727px 0
	}
}
@-moz-keyframes sprite-animate-go {
	from {
		background-position:0 0
	}
	to {
		background-position:-727px 0
	}
}
@-o-keyframes sprite-animate-go {
	from {
		background-position:0 0
	}
	to {
		background-position:-727px 0
	}
}
@keyframes sprite-animate-go {
	from {
		background-position:0 0
	}
	to {
		background-position:-727px 0
	}
}
.sprite-anim-go {
	width:51px;
	height:51px;
	background-image:url(../img/go4.png);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 9;
	top: 100%;
}

.sprite-anim-go a{
	position: absolute;
	width: 100%;
	height: 100%;
}

